body {
  font-family: 'Lora', serif;
  font-weight: 400;
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1194px;
  }
}

.dropdown-toggle::after {
  margin-left: 0.58em;
}